@font-face {
  				font-family: 'consolas';
  				src: url('consolas.eot'); /* IE9 Compat Modes */
  				src: url('consolas.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       				url('consolas.woff2') format('woff2'), /* Super Modern Browsers */
       				url('consolas.woff') format('woff'), /* Pretty Modern Browsers */
       				url('consolas.ttf')  format('truetype'), /* Safari, Android, iOS */
       				url('consolas.svg#svgFontName') format('svg'); /* Legacy iOS */
		}
@keyframes title {
		from {transform: translate(0%, 100px); opacity: 0;}
		to {transform: translate(0%, 0px); opacity: 1;}
}
@keyframes block1 {
	from {transform: translate(0%, 100px); opacity: 0;}
	to {transform: translate(0%, 0px); opacity: 1;}
}
			.titlediv {
				height: 250px;
				position: absolute;
				width: 1700px;
				top: 20px;
				left: 100px;
				background-color: #b3e6ff;
				text-align: center;
				align-items: center;
				border-radius:50%;
				animation-name: title;
				animation-duration: 2s;
				animation-iteration-count: 1;
			}
			h1.titletext {
				font-family:consolas;
				font-size: 500%;
				position: absolute;
				top: 0;
				left: 100px;
				right: 100px;
				text-shadow: 2px 2px #ffffff;
			}
			h2.subtitletext {
				font-family:consolas;
				position: relative;
				top: 150px;
				left: 0;
				font-size: 200%
			}
			.infoblocks {
				position: absolute;
				width: auto;
				height: 1700px;
				top: 300px;
				animation-name: block1;
				animation-duration: 2s;
				animation-delay: 2s;
				animation-iteration-count: 1;
				animation-fill-mode: backwards;
			}
			.picblocks {
				position: absolute;
				width: auto;
				height: 1700px;
				top: 350px;
				animation-name: block1;
				animation-duration: 2s;
				animation-delay: 3s;
				animation-iteration-count: 1;
				animation-fill-mode: backwards;
			}
			.picformat {
				width:1000px;
				height:500px;
				border-radius:50px;
			}
			.aboutme {
				position: absolute;
				width: 500px;
				height: 500px;
				background-color: #b3e6ff;
				border-radius: 50px;
				text-align: left;
				left: 100px;
				top: 50px;
				align-items: center;
			}
			h2.amtitle {
				position: relative;
				font-family:consolas;
				font-size: 400%;
				padding-top: 0;
				padding-left: 40px;
			}
			p.amtext {
				position: relative;
				font-family:consolas;
				font-size: 200%;
				padding-left: 40px;
				padding-right: 40px;
			}
			.ampic {
				position: absolute;
				left: 800px;
				align-items: center;
			}
			.whatido {
				position: absolute;
				width: 500px;
				height: 500px;
				background-color: #b3e6ff;
				border-radius: 50px;
				text-align: left;
				left: 1300px;
				top: 600px;
				align-items: center;
			}
			h2.widtitle {
				position: relative;
				font-family:consolas;
				font-size: 400%;
				padding-top: 0;
				padding-left: 40px;
			}
			p.widtext {
				position: relative;
				font-family:consolas;
				font-size: 200%;
				padding-left: 40px;
				padding-right: 40px;
			}
			.widpic {
				position: absolute;
				left: 100px;
				top: 550px;
				align-items: center;
			}
			.whatiworkedon {
				position: absolute;
				width: 500px;
				height: 500px;
				background-color: #b3e6ff;
				border-radius: 50px;
				text-align: left;
				left: 100px;
				top: 1150px;
				align-items: center;
			}
			h2.wiwotitle {
				position: relative;
				font-family:consolas;
				font-size: 400%;
				margin: 0;
				padding-top: 0;
				padding-left: 40px;
			}
			p.wiwotext {
				position: relative;
				font-family:consolas;
				margin: 0;
				font-size: 130%;
				padding-left: 40px;
				padding-right: 40px;
			}
			.wiwopic {
				position: absolute;
				left: 800px;
				top: 1100px;
				align-items: center;
			}
			.footer {
				position: absolute;
				background-color: #b3e6ff;
				border-radius: 50px;
				width: 1170px;
				align-items: center;
				left: 400px;
				top: 2050px;
			}
			.spacing {
				display: inline-block;
				padding-top: 20px;
				font-size: 110%;
			}
			.firsticon {
				width: 50px;
				height: 50px;
				padding-left: 20px;
			}
			.lasticon {
				width: 50px;
				height: 50px;
				padding-left: 20px;
			}
			a:link {
				color: black;
			}
			a:visited {
				color: black;
			}
			a:hover {
				color: black;
			}
			a:active {
				color: black;
			}