@keyframes title {
		from {opacity: 0;}
		to {opacity: 1;}
}
@keyframes block1 {
	from {opacity: 0;}
	to {opacity: 1;}
}
			.titlediv {
				height: 250px;
				position: relative;
				width: 980px;
				top: 20px;
				left: 20px;
				background-color: #b3e6ff;
				text-align: center;
				border-radius: 30px;
				animation-name: title;
				animation-duration: 2s;
				animation-iteration-count: 1;
			}
			h1.titletext {
				font-family:consolas;
				font-size: 500%;
				position: absolute;
				top: -50px;
				left: 100px;
				right: 100px;
				text-shadow: 2px 2px #ffffff;
			}
			h2.subtitletext {
				font-family:consolas;
				position: absolute;
				top: 170px;
				left: 270px;
				font-size: 200%
			}
			.infoblocks {
				position: absolute;
				width: auto;
				height: 3000px;
				top: 0;
				animation-name: block1;
				animation-duration: 2s;
				animation-delay: 2s;
				animation-iteration-count: 1;
				animation-fill-mode: backwards;
			}
			.picblocks {
				position: absolute;
				width: auto;
				height: 3000px;
				top: 0;
				animation-name: block1;
				animation-duration: 2s;
				animation-delay: 3s;
				animation-iteration-count: 1;
				animation-fill-mode: backwards;
			}
			.picformat {
				width:980px;
				height:500px;
				border-radius:50px;
			}
			.aboutme {
				position: absolute;
				width: 980px;
				height: 200px;
				background-color: #b3e6ff;
				border-radius: 50px;
				text-align: left;
				left: 20px;
				top: 350px;
				align-items: center;
			}
			h2.amtitle {
				position: relative;
				font-family:consolas;
				font-size: 400%;
				margin: 0;
				padding-top: 0;
				padding-left: 40px;
			}
			p.amtext {
				position: relative;
				font-family:consolas;
				font-size: 200%;
				margin: 0;
				padding-left: 40px;
				padding-right: 40px;
			}
			.ampic {
				position: absolute;
				left: 20px;
				top: 600px;
				align-items: center;
			}
			.whatido {
				position: absolute;
				width: 980px;
				height: 200px;
				background-color: #b3e6ff;
				border-radius: 50px;
				text-align: left;
				left: 20px;
				top: 1150px;
				align-items: center;
			}
			h2.widtitle {
				position: relative;
				font-family:consolas;
				font-size: 400%;
				margin: 0;
				padding-top: 0;
				padding-left: 40px;
			}
			p.widtext {
				position: relative;
				font-family:consolas;
				font-size: 200%;
				margin: 0;
				padding-left: 40px;
				padding-right: 40px;
			}
			.widpic {
				position: absolute;
				left: 20px;
				top: 1400px;
				align-items: center;
			}
			.whatiworkedon {
				position: absolute;
				width: 980px;
				height: 400px;
				background-color: #b3e6ff;
				border-radius: 50px;
				text-align: left;
				left: 20px;
				top: 1950px;
				align-items: center;
			}
			h2.wiwotitle {
				position: relative;
				font-family:consolas;
				font-size: 400%;
				margin: 0;
				padding-top: 0;
				padding-left: 40px;
			}
			p.wiwotext {
				position: relative;
				font-family:consolas;
				font-size: 200%;
				margin: 0;
				padding-left: 40px;
				padding-right: 40px;
			}
			.wiwopic {
				position: absolute;
				left: 20px;
				top: 2400px;
				align-items: center;
			}
			.footer {
				position: absolute;
				background-color: #b3e6ff;
				border-radius: 50px;
				width: 980px;
				align-items: center;
				left: 20px;
				top: 2950px;
			}
			.spacing {
				display: inline-block;
				padding-top: 20px;
				font-size: 150%;
			}
			.firsticon {
				width: 50px;
				height: 50px;
				padding-left: 90px;
			}
			.lasticon {
				width: 50px;
				height: 50px;
				padding-left: 150px;
			}
			a:link {
				color: black;
			}
			a:visited {
				color: black;
			}
			a:hover {
				color: black;
			}
			a:active {
				color: black;
			}